.navbar{
	background-color: #dcdcdc;
	border-bottom: 3px solid #563d7b;
}

.toggle-button{
	background-color: #dcdcdc;
	color: #222222;
}

.toggle-bar{
	background-color: #dcdcdc;
	width: 100%;
	border-bottom: 3px solid #563d7b;
}

.profile{
	padding: 1em;
}

.btn-secondary{
	border: none;
	background-color: #dcdcdc;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.collapse-profile{
	background-color: #b7b7b7;
	color: #222222;
	border-bottom: 2px solid #ffffff;
	cursor: pointer;
	padding: 0.1em;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.p-clean{
	margin: 0em;
	height: 0.25em;
}

.feed-card{
	background-color: #fbfbfb;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
	padding: 1em;
	border: 2px solid #ffffff;
	border-radius: 10px;
}

.purple-button{
	background-color: #563d7b;
	color: #ffffff;
}

.purple-text{
	color: #563d7b;
}