.navbar{
	background-color: #dcdcdc;
	border-bottom: 3px solid #563d7b;
}

.toggle-button{
	background-color: #dcdcdc;
	color: #222222;
}

.toggle-bar{
	background-color: #dcdcdc;
	width: 100%;
	border-bottom: 3px solid #563d7b;
}

.profile{
	padding: 1em;
}

.btn-secondary{
	border: none;
	background-color: #cecece;
}

.collapse-profile{
	background-color: #b7b7b7;
	color: #222222;
	cursor: pointer;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.p-clean{
	margin: 0em;
}