.navbar{
	background-color: #dcdcdc;
	border-bottom: 3px solid #999999;
}

.toggle-button{
	background-color: #dcdcdc;
	color: #222222;
}

.toggle-bar{
	background-color: #dcdcdc;
	width: 100%;
	border-bottom: 3px solid #999999;
}

.profile{
	padding: 1em;
}

.btn-secondary{
	border: none;
}

.collapse-profile{
	background-color: #b7b7b7;
	color: #222222;
	cursor: pointer;
}